<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Tiendas Daka</title>
  <style>
    .color{
        height: 30vh;
        background-color: aqua;
    }
    .color1{
    text-align: justify;
      color: black;
      justify-content: center;
    }
    .loading{
      height: 100vh;
      width: 100vw;
      background-color:rgb(26, 19, 96);
      position: fixed;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .imglod{
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body class="noscroll">
  <div class="loading" id="loading">
    <img class="imglod" src="../img/load.gif"/>
  </div>
  <div id="app">
    <v-app>
      <v-main>
       
      
        <v-app-bar style="position: sticky;" dense color="#FFDD00" elevate-on-scroll shrink-on-scroll fade-img-on-scroll
        src="../img/banner/2.png" prominent scroll-target="#scrolling-techniques-3">
        <template v-slot:img="{ props }">
          <v-img contain v-bind="props"></v-img>
        </template>



        <v-app-bar-title> </v-app-bar-title>

        <v-spacer></v-spacer>


       




        <template v-slot:extension>

          <v-tabs   icons-and-text  Grow show-arrows >

            <v-tab @click="Activ('')">   METODOS C2P</v-tab>
        
            <v-spacer></v-spacer> <v-spacer></v-spacer>

            
          </v-tabs>
        </template>

      </v-app-bar>
        <v-container>
            <v-row>
             
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/banesco.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                 <v-img   src="/banco/APP_web-banesco.png"></v-img>   <br> 
                 <v-img src="/banco/APP_sms-banesco.png"></v-img>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/Bancaribe.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-bancaribe.png"></v-img>   <br> 
                  <v-img src="/banco/APP_sms-bancaribe.png"></v-img>
                 </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/bancaamiga.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-bancamiga.png"></v-img>
        
                 </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/bbva.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-banco BBVA Provincial.png"></v-img>  
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px"  contain src="/lgb/bancoexteriro.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-banco exterior.png"></v-img> 
                  <br> 
                  <v-img src="/banco/APP_sms-banco exterior.png"></v-img>  
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/mercantil.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-banco mercantil.png "></v-img>     <br> 
                  <v-img src="/banco/APP_sms-banco mercantil.png "></v-img>  
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/bdv.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-bdv.png"></v-img>     <br> 
                  <v-img src="/banco/APP_sms-bdv.png"></v-img>  
            
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/logobancoplaza.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-banco plaza.png "></v-img>     <br> 
                  <v-img src="/banco/APP_sms-banco plaza.png"></v-img>     <br> 
                  <v-img src="/banco/APP_web-banco plaza.png"></v-img>  
                </v-expansion-panel-content>
              </v-expansion-panel>
         
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/mibanco.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_sms-mi banco.png"></v-img>  
                
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/bnc.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_web-bnc.png"></v-img>  
                
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px " contain src="/lgb/bancodeltesoro.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_sms-banco del tesoro.png"></v-img>  
                
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/bancrecer.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_app-bancrecer.png"></v-img>  
              
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <v-img height="30px" contain src="/lgb/Venezolano_Credito.png"></v-img>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-img src="/banco/APP_web-venezolano de credito.png"></v-img>  
                  
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
         
         
             
            </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


  <script src='../dist/main2.js'>

  </script>
</body>

</html>