<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Tiendas Daka</title>
  <style>
    .color{
        height: 30vh;
        background-color: aqua;
    }
    .color1{
    text-align: justify;
      color: black;
      justify-content: center;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body class="noscroll">

  <div id="app">
    <v-app>
      <v-main>
        <v-dialog
      v-model="dialog"
      width="500"
      overlay-opacity="2"
    >
     

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
    TIENDAS DAKA
        </v-card-title>

        <v-card-text>
         <p>Antes de continuar es importante que valide en su factura el tiempo de garantía del producto en cuestión
        </p> <p>Recuerde si su producto  es de alta dimensiones o facil de trasladar no desinstalar el producto. comunicarse vía WhatsApp: 0424-4624218 y de seguida marque la opción 2 (Garantía,
  Envío gratis, Servicio de instalación o Servicio Técnico.</p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
           Entendido
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
        <v-app-bar style="position: sticky;" dense color="#FFDD00" elevate-on-scroll shrink-on-scroll fade-img-on-scroll
        src="../img/banner/2.png" prominent scroll-target="#scrolling-techniques-3">
        <template v-slot:img="{ props }">
          <v-img contain v-bind="props"></v-img>
        </template>



        <v-app-bar-title> </v-app-bar-title>

        <v-spacer></v-spacer>


       




        <template v-slot:extension>

          <v-tabs align-with-title>

            <v-tab @click="Activ('terminoC')">Activar Garantia</v-tab>
            <v-tab @click="Activ('garantia')">Como activo la Garantia. </v-tab>
            <v-tab @click="Activ('pregunta')" >Preguntas Frecuentes</v-tab>

            <v-spacer></v-spacer> <v-spacer></v-spacer>

            
          </v-tabs>
        </template>

      </v-app-bar>
        <v-container>
            <v-row>
              <v-col v-if="vista.terminoC" id="TerminoyCondiciones"  class="color1" cols="12">
                <template>
                  <v-item-group>
                    <v-container>
                      <v-row>
                        <v-spacer></v-spacer>
                        <v-col
                          v-for="n in TerminoYCondiciones"
                          :key="n"
                          cols="12"
                          md="4"
                        >
                          <v-item v-slot="{ active, toggle }">
                            <v-card
                              :color="active ? '' : ''"
                              class="d-flex align-center"
                              
                              height="200"
                              @click="eclick(toggle,n)"
                            >
                            <v-img  max-height="200" contain v-if="!active" :src="'../'+n.imagen"></v-img>
                              <v-expand-x-transition  v-if="active">
                                <div
                                 
                                  class="text-h2 flex-grow-1 text-center"
                                >
                                  {{n.nombre}}
                                </div>
                              
                               
                             
                              </v-expand-x-transition>
                            </v-card>
                          </v-item>
                        </v-col>
                        <v-spacer></v-spacer>
                      </v-row>
                    </v-container>
                  </v-item-group>
                </template>
                <v-row>
                  <v-col v-if="TerminoYCondiciones[0].status" id="detalle" cols="12">
                
                   <v-container>
                    <v-row>
                      <v-col xs="12">
                     
<ul>
  <li>La  Garantía de tiendas Daka es válida únicamente en el territorio de la República Bolivariana de Venezuela y por el tiempo que indica  el producto en la factura de compra. 
  </li>
  <br>
  <li>Los productos reacondicionados o con detalle están garantizados únicamente contra defectos de fábrica; es decir; cuando el defecto sea imputable a los materiales, partes o mano de obra empleada en el proceso de fabricación y/o reacondicionamiento y su uso se haga de acuerdo al propósito para el cual fue diseñado, según el manual de usuario. 
  </li>
  <br>
  <li> 
    Es condición de activación de garantía presentar la factura de compra,  la cédula del titular, presentar el producto con su caja original y con todos los accesorios; con la excepción de aquellos productos de línea blanca que tengan una instalación especial.
    </li>
    <br>
  <li> En caso de que el detalle del producto comprado indique la ausencia de caja o de accesorios, se permite la activación de la garantía del mismo.  
  </li>
  <br>
  <li>La factura debe tener el sello de despachado y el sello de Entregado en Perfectas Condiciones Físicas.
  </li>
  <br>
  <li> Para productos retirados en tienda, el cliente deberá revisar, al momento de comprar, en el área de despacho y/o módulo de prueba, los equipos, partes y/o piezas que le sean entregados. 
  </li>
  <br>
  <li>Para productos recibidos por el servicio de envío Gratis, el cliente deberá revisar los productos con el transportista y firmar la guía de despacho como conforme. 
  </li>
  <br>
</ul>
                      </v-col>
                      <v-col xs="12" >
                       <ul>
                          <li>
                            Tiendas Daka garantiza la reparación o reemplazo de cualquier componente o parte que afecte el buen funcionamiento del producto, durante el periodo establecido en la factura de compra, el cual comenzará a correr a partir de la fecha del despacho que aparece en la misma  Factura.

                          </li>
                          <br>
                          <li>
                            En aquellos casos en los que Tiendas Daka no posea un reemplazo de la pieza dañada y/o del producto en cuestión, el cliente se ajustará a las políticas internas de Tiendas Daka establecidas en la orden de cambio. 


                          </li>
                          <br>
                          <li>El servicio de diagnóstico y reparación durante la garantía es totalmente gratuito y con estricto apego a estos términos y condiciones. 

                          </li>
                          <br>
                          <li>
                            Sólo para Electrodomésticos que Requieren Instalación: Si el producto presenta defectos de funcionamiento una vez instalado, el cliente deberá solicitar una visita técnica para el diagnóstico antes de proceder a desinstalar. 

                          </li>
                          <br>
                          <li>
                            Los gastos inherentes al traslado por activación de garantía, desinstalación, mantenimiento e instalación de productos, no están  cubiertos por Garantías Daka, por lo tanto, son entera responsabilidad del cliente.

                          </li>
                          <br>
                          <li>
                            Transcurridos los Treinta (30) días continuos desde la fecha de recepción y/o expiración de la garantía sin que EL CLIENTE acudiera a las instalaciones a retirar el (los) producto (s), se entenderá que EL CLIENTE hizo abandono del (los) mismo (s) a favor de TIENDAS DAKA C.A, quedando facultada TIENDAS DAKA C.A para disponer de ellos de la manera que estime conveniente y sin que tenga que indemnizar en forma alguna a EL CLIENTE. 

                          </li>
                          <br>
                       </ul>
                      </v-col>
                    </v-row>
                 </v-container>
                  </v-col>
                  <v-col  v-if="TerminoYCondiciones[1].status" id="comun" cols="12">
                    <v-container>
                      <v-row>
                        <v-col xs="12" sm="12"  md="6" lg="6">
                          <ul>
                              <li>
                                La  Garantía de tiendas Daka es válida únicamente en el territorio de la República Bolivariana de Venezuela y por el tiempo que indica  el producto en la factura de compra. 

                              </li>
                              <br>
                              <li>
                                Los productos cubiertos por garantías Daka, están garantizados únicamente contra defectos de fábrica; es decir; cuando el defecto sea imputable a los materiales, partes o mano de obra empleada en el proceso de fabricación y su uso se haga de acuerdo al propósito para el cual fue diseñado, según el manual de usuario. 

                              </li>
                              <br>
                              <li>
                                
Es condición de activación de garantía presentar la factura de compra,  la cédula del titular, presentar el producto con su caja original y con todos los accesorios; con la excepción de aquellos productos de línea blanca que tengan una instalación especial. 

                              </li>
                              <br>
                              <li>
                                
La factura debe tener el sello de despachado y el sello de Entregado en Perfectas Condiciones Físicas.

                              </li>
                              <br>
                              <li>
                                Para productos retirados en tienda, el cliente deberá revisar, al momento de comprar, en el área de despacho y/o módulo de prueba, los equipos, partes y/o piezas que le sean entregados. 

                              </li>
                              <br>
                              <li>
                                Para productos recibidos por el servicio de envío Gratis, el cliente deberá revisar los productos con el transportista y firmar la guía de despacho como conforme. 

                              </li>
                              <br>
                              <li>Todo producto con garantía Daka mayor a 10 días, cuenta con siete (07) días continuos de cambio inmediato, los cuales comenzarán a correr a partir de la fecha del despacho que aparece en la misma  Factura. Este cambio inmediato es aplicable en caso de que el producto presente daños funcionales y siempre que la falla no corresponda a una o varias de las razones por las que la garantía pierde validez. 
                              </li>
                              <br>
                          </ul>
                        </v-col>
                        <v-col xs="12" sm="12"  md="6" lg="6">
                          <ul>
                            <li>
                              Tiendas Daka garantiza la reparación o reemplazo de cualquier componente o parte que afecte el buen funcionamiento del producto, durante el periodo establecido en la factura de compra, el cual comenzará a correr a partir de la fecha del despacho que aparece en la misma  Factura.
 
                            </li>
                            <li>
                              En aquellos casos en los que Tiendas Daka no posea un reemplazo de la pieza dañada y/o del producto en cuestión, el cliente se ajustará a las políticas internas de tiendas Dakaestablecidas en la orden de cambio. 

                            </li>
                            <li>
                              El servicio de diagnóstico y reparación durante la garantía es totalmente gratuito y con estricto apego a estos términos y condiciones. 

                            </li>
                            <li>
                              Sólo para Electrodomésticos que Requieren Instalación: Si el producto presenta defectos de funcionamiento una vez instalado, el cliente deberá solicitar una visita técnica para el diagnóstico antes de proceder a desinstalar. 

                            </li>
                            <li>
                              
Los gastos inherentes al traslado por activación de garantía, desinstalación, mantenimiento e instalación de productos, no están  cubiertos por Garantías Daka, por lo tanto, son entera responsabilidad del cliente.

                            </li>
                            <li>
                              Transcurridos los Treinta (30) días continuos desde la fecha de recepción y/o expiración de la garantía sin que EL CLIENTE acudiera a las instalaciones a retirar el (los) producto (s), se entenderá que EL CLIENTE hizo abandono del (los) mismo (s) a favor de TIENDAS DAKA C.A, quedando facultada TIENDAS DAKA C.A para disponer de ellos de la manera que estime conveniente y sin que tenga que indemnizar en forma alguna a EL CLIENTE. 

                            </li>
                          </ul>
                        </v-col>
                      </v-row>
                   </v-container>
                  </v-col>
                </v-row>
              </v-col>
              <v-col v-if="vista.garantia" id="garantia"  class="color1" cols="12">
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      Su producto tiene una Instalación Especial?
                      <v-radio-group
                      v-model="Iespecial"
                      row
                    >
                      <v-radio
                        label="si"
                        :value="true"
                      ></v-radio>
                      <v-radio
                        label="no"
                        :value="false"
                      ></v-radio>
                    </v-radio-group>
                    </v-col>
                    <v-col v-if="Iespecial" cols="12">
                      <p>Recuerde no desinstalar el producto. comunicarse vía WhatsApp: 0424-4624218 y de seguida marque la opción 2 (Garantía,
                        Envío gratis, Servicio de instalación o Servicio Técnico.</p>
                    </v-col>
                    <v-col cols="12">
                      <v-overflow-btn
                      class="my-2"
                      :items="marca"
                      item-text="nombre"
                      label="Seleccione su Marca"
                      return-object
                      v-model="marcas"
                     editable
                    ></v-overflow-btn>
                  
                    </v-col>
                    
                    <v-col cols="12">
                      <v-card v-if="marcas">
                        <v-card-text>{{marcas.nombre}}</v-card-text>
                        <v-card-subtitle v-if="marcas.telefono = null">Telefono: {{marcas.telefono}}</v-card-subtitle>
                        <v-card-subtitle v-else>Pagina: {{marcas.web}}</v-card-subtitle>
                        <v-card-text>
<h1>Cómo Activar su garantía Daka?</h1>
                          Puede activar la garantía de forma presencial acudiendo a cualquiera de nuestras tiendas a nivel nacional. No importa en que sucursal hizo la compra.
Para activar su garantía Daka o acceder al cambio inmediato (si aplica), usted debe presentar factura de compra original, y caja original en casa de productos de línea hogar y digital. 
<br>
En caso de productos ya instalados de linea blanca de gran tamaño, usted puede llenar el siguiente formulario o comunicarse por el número telefónico. En ambos casos, usted será contactado en un plazo de 72 horas hábiles para que un técnico acuda al lugar donde se encuentra el producto y se haga diagnostico apropiado. 
Al momento de la inspección, usted deberá presentar factura de compra. 

                        </v-card-text>
                        <v-card-text>
                          <h1>¿Cuándo Esta Garantía Pierde Validez??</h1>
                                                   <v-row>
                                                    <v-col cols="6">
                                                      Cuando el cliente no presente la factura y/o la caja original del producto 

Cuando el producto tenga daño funcional aparente como consecuencia de golpes accidentales o intencionales, mal ensamblaje, caídas, entre otros.

Por desgaste de los accesorios, por el uso normal del mismo o por efecto del mal uso.

APLICA A LAS TRES CONDICIONES ANTERIORES. Se permite la activación de la garantía en caso de que el detalle del producto comprado indique la ausencia de caja o de accesorios y/o golpes, 

Cuando el producto es fabricado para el uso del hogar y se ha destinado o utilizado en comercios tales como: oficinas, conserjerías, restaurantes, entre otros.

Cuando el producto se intentó reparar o fue reparado por una persona y/o empresa no autorizada por el Servicio Técnico de la Red de Tiendas Daka.

Cuando los daños sean causados por operación o uso inadecuado, diferente al recomendado en el manual de instrucciones.

Cuando el daño sea causado por transporte inapropiado del producto.

Cuando el producto haya sido utilizado con un propósito diferente al que fue diseñado.

Cuando los daños sean causados por mala práctica al momento de la instalación del equipo o por problemas causados en la instalación por personal no capacitado.

Por desgaste de los accesorios, por el uso normal del mismo o por efecto del mal uso.

                                                    </v-col>
                                                    <v-col cols="6">
                                                      Cuando los daños ocasionados en el producto sean consecuencia de fenómenos naturales como: terremotos, tsunamis, inundaciones, tormentas eléctricas, acción del salitre, fuego, intemperie, demás condiciones ambientales deficientes, casos fortuitos y de fuerza mayor.

Cuando el daño sea causado por la invasión de elementos extraños al producto como agua, arena, insectos, roedores o cualquier otro objeto.

Cuando el daño sea a consecuencia de falta de mantenimiento, por mantenimiento inapropiado y/o alteraciones e instalaciones de accesorios no originales que modifiquen su funcionalidad para la cual el producto fue diseñado.

Cuando el daño sea a consecuencia de la instalación incorrecta y/o la manipulación indebida por personal técnico no calificado, donde dicha instalación afecte la funcionalidad del producto y/o ocasione daños al producto, bienes o personas. 

Cuando el serial del producto haya sido alterado o removido.

Cuando el daño sea causado por condiciones accidentales o provocadas como humedad, incendios, fluctuaciones de voltaje, cortocircuito, vandalismo, robo, hurto o similares.

Cuando los compresores cuya instalación eléctrica no cumplan con las normas de suministros aprobados por la compañía eléctrica y los equipos sean conectados a la línea sin el protector o estabilizador de voltaje, o hayan sido conectados a un voltaje distinto al indicado en el manual de instrucciones.

Cuando se trate de accesorios o partes plásticas, metálicas, eléctricas, caucho, tela o cosméticas, tales como: cuchillas, aspas, mangos, carbones, etc.; que pueden sufrir desgaste por uso normal o regular.	
Cuando el mal funcionamiento sea generado a causa de una modificación del sistema operativo o por un virus informático.

                                                    </v-col>
                                                   </v-row>
                          
                                                  </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
              <v-col v-if="vista.pregunta" id="pregunta"  class="color1" cols="12">
                <template>
                  <v-expansion-panels>
                    <v-expansion-panel
                      v-for="(item,i) in preguntas"
                      :key="i"
                    >
                      <v-expansion-panel-header>
                        {{item.pregunta}}
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        {{item.repuesta}}
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </template>
              </v-col>
                <v-col v-if="false" align="center" justify="center" cols="12" class="color">
                    <h1>Seleccione la Marca de su producto..</h1>
                    <template>
                        <v-sheet
                          class="mx-auto"
                          elevation="8"
                          max-width="800"
                        >
                          <v-slide-group
                            v-model="model"
                            class="pa-4"
                            center-active
                            show-arrows
                          >
                            <v-slide-item
                              v-for="n in 15"
                              :key="n"
                              v-slot="{ active, toggle }"
                            >
                              <v-card
                                :color="active ? 'primary' : 'white'"
                                class="ma-4"
                               
                               width="150"
                                @click="toggle"
                              >
                               
                               
                                    <h2 transition="fade-transition" style="color: oldlace" v-if="active"> LG</h2>
                                    <v-img 
                                    transition="fade-transition"
                                v-if="!active"
                                  contain
                                  max-width="80"
                                  src="../img/marca/lg.png"
                                  >

                                  </v-img>
                                 
                           
                                
                               
                              </v-card>
                            </v-slide-item>
                          </v-slide-group>
                        </v-sheet>
                      </template>
                </v-col>
                <v-col  v-if="false" align="center" justify="center" cols="12" >
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-window v-model="vista">
                                 
                                    <v-window-item
                                      key="card2"
                                    >
                                  hola
                                    </v-window-item>
                                    <v-window-item
                                      key="card1"
                                    >
                                hola2
                                  </v-window-item>
                                  </v-window>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


  <script src='../dist/main2.js'>

  </script>
</body>

</html>